<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Companion</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<section class="header">
		<form action="{{url_for('emotion_detect')}}" method="POST">
			<nav>
				<img src="{{url_for('static', filename='logo.jpeg')}}"></a>
				<div class="nav-links" id="navLinks">
					<i class="fa fa-times" onclick="hideMenu()"></i>
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="#abt">About</a></li>
					</ul>
				</div>
			</nav>

			<div class="text-box">
				<h1>Your Companion's World</h1>
				<p><h3>Welcome!!!</h3> To get started with the application take the picture of yourself
				<br> Click the below button to find your stuff</p>
				<button id="capture" name="btn" class="hero-btn">Capture yourself</button>
			</div>
		</form>
	</section>
	<section class="about" id="abt">
		<h2>About Us</h2>
		<p>This is a website build as part of our academic project.<br>
		In this website we tried to build an intelligent recommendation
		system using deep learning models<br> from users facial expressions
		to suggest them some random YouTube content based on
                their mood/emotion.</p>
		<div class="icons">
			<i class="fa fa-facebook"></i>
			<i class="fa fa-twitter"></i>
			<i class="fa fa-github"></i>
			<i class="fa fa-linkedin"></i>
		</div>
	</section>
</body>
</html>